* {
    margin: 0;
    font-family: "Recursive", monospace;
    box-sizing: border-box;
}

body {
    background-color: #d9d4e7;
    color: #0e172c;
    text-align: left;
    font-size: 1.25rem;
}

nav {
    height: 5em;
    width: auto;
    display: flex;
    flex-direction: row;
}

.wrapper {
   height: 50px;
  font-size: 20px;
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f8fc;
    box-shadow: 4px 5px 0px 0px #383838;
    border: 2px solid #383838;
    border-radius: 30px;
    width: 25em;
    height: 25em;
}



.link {
    cursor: pointer;
}

.link:hover {
    color: #fec7d7;
    text-shadow: 0 0 15px #fec7d7;
    transition: all 0.5s ease;
    transform: scale(1.5);
    background-color: #383838;
    border-radius: 30px 30px;
}


/* toggle */
.toggle--checkbox {
    display: none;
  }