/*
original pink fec7d7
# f9f8fc
#fec7d7
#505A5B

light gray
D7D7E1

med lavender
C6C0E2

white 
E9E3EF
*/

* {
    margin: 0;
    font-family: "Recursive", monospace;
    box-sizing: border-box;
}

body {
    background-color: #d9d4e7;
    color: #0e172c;
    text-align: left;
    font-size: 1.25rem;
}
.App {

}

.window {
    border-radius: 10px 10px;
    border: 10px solid #e9eba0;  
    width: calc(95%);
    height: calc(75%);
    padding: 3vh;
    background-color: rgb(172, 205, 235);
    /*
    padding-left: 3vh;
   padding-bottom: 3vh;
   padding-right: 3vh;*/
}

.x {
    border-radius: 10px 10px;
    border: 1px solid black;   
    width: 30px;
    text-align: center;
position: absolute;
    background-color: white;
top: 0;
left: 0;
}

nav {
    min-height: 10vh;
    display: flex;
    width: 100%;
    padding: 1vh;
    background-color: rgb(197, 233, 221);
    border-radius: 10px 10px;
    border: 2px solid #383838;
}
.nav-list {
    height: 10vh;
    width: 100%;
    display: flex;
    list-style: none;
    /*box-shadow: 4px 5px 0px 0px #38383E;*/
    border-radius: 10px 10px;
    background-color: #D2A5B1;
    border: 2px solid #383838;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 15vh;
   
}

.nav-link {
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 15vh;
    border: 2px solid #38383E;
    border-radius: 10px 10px;
}
  

h2 {
    text-shadow: 4px 4px 0 #f8f2f6;
}

.container-border {
    border-radius: 10px 10px;
    border: 2px solid #383838; 
    padding: 1vh;
    width: calc(60%);
    height: calc(80%);
    min-width: 55vh;
    min-height: 60vh;
    background-color: rgb(197, 233, 221);
}


.container { /* change height scaling */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #c2b7df;
   /* box-shadow: 4px 5px 0px 0px #383838;*/
    border: 2px solid #383838;
    border-radius: 30px;

    border-radius: 10px 10px;
    /*width: calc(60%);
    height: calc(80%);*/
    min-width: 55vh;
    min-height: 60vh;
}


.head-text {
    text-shadow: 4px 4px 0 #f8f2f6;
display: flex;
justify-content: center;
align-items: center;
}

.home-head-text {
    text-shadow: 4px 4px 0 #f8f2f6;
}

.content {
    display: flex;
 
}

.link {
    cursor: pointer;
    display: inline-block;
    position: relative;
   
}

button {
    cursor: pointer;
    border-radius: 10px 10px;
    background-color: #D2A5B1;
    border: 2px solid #383838;
    height: 10vh;
    width: 20vh;
    font-size: 1.25rem;
}

.link:hover {
    color: #fec7d7;
    text-shadow: 0 0 15px #fec7d7;
    transition: all 0.5s ease;
    transform: scale(1.5);
    background-color: #383838;
    border-radius: 30px 30px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}