* {
    margin: 0;
    font-family: "Recursive", monospace;
    text-align: left;
    font-size: 1.25rem;
    box-sizing: border-box;
}

body {
    background-color: #b4d0f4;
}

main {
    padding-top: 10vh;
    padding-left: 20vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeebe7;
    box-shadow: 4px 5px 0px 0px #383838;
    border: 2px solid #383838;
    border-radius: 30px;
    width: 25em;
    height: 25em;
}

nav {
    height: 5em;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: #f4b4c2;
    text-shadow: 0 0 15px #f4b4c2;
    transition: all 0.5s ease;
    transform: scale(1.5);
    background-color: #383838;
    border-radius: 30px;
}
