/* svg graphic to replace: nav, container, borders, button 
black 383838
dark grey 686857a
lavender c2b7df , tint b499b4
pink d2a5b1
light greyish acaeec5
linen f5ebdd


??
melon fbb7ae 

**********************

nav {

 padding: 1vh;
 background-color: #acaec5;
 border-radius: 10px 10px;
 border: 2px solid #383838;
}

.container-border {
    border-radius: 10px 10px;
    border: 2px solid #383838;
    padding: 1vh;
    width: calc(75%);
    height: calc(80%);
    min-width: 95vh;
    min-height: 60vh;
    background-color: #acaec5;
}


*/ 


.container {
    /* 
    background-color: #c2b7df;
    
    border-radius: 10px 10px;
    */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 4px 5px 0px 0px #383838;*/
    border: 2px solid #383838;

 flex-wrap: wrap;
}

.head-text {
 
}

.home-head-text {
    text-shadow: 4px 4px 0 #f5ebdd;
}

.content {
    display: flex;
    flex-direction: column;
}

.home-content {
    display: flex;
}

.home-img {
    background-color: #858585;
    width: 150px;
    height: 150px;
    border-radius: 10px 10px;
    border: 7px solid #383838;
    margin-bottom: 2vh;
}



.about-content {
    display: flex;
}

.about-bottom {
    display: flex;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.img {
    background-color: #858585;
    width: 30vh;
    height: 20vh;
}

.projects-content {
    display: flex;
    flex-direction: row;
}

.project {
    width: 50%;
}





.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }