* {
    margin: 0;
    font-family: "Recursive", monospace;
    box-sizing: border-box;
}

body {
    background-color: #d9d4e7;
    color: #0e172c;
    text-align: left;
    font-size: 1.25rem;
   
}

nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
background-color: #fec7d7;
box-shadow: 4px 5px 0px 0px #383838;
    border: 2px solid #383838;
    border-radius: 30px;
    width: auto;

}
.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    border-right: 2px solid #383838;
    border-left: 2px solid #383838;

}

.wrapper {
   height: 50px;
  font-size: 20px;
    margin-left: auto;
}
h1, h2 {
    text-shadow: 4px 4px 0 #fff;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f8fc;
    box-shadow: 4px 5px 0px 0px #383838;
    border: 2px solid #383838;
    border-radius: 30px;
    width: 55vh;
    height: 60vh;
   
}



.link {
    cursor: pointer;
}

.link:hover {
    color: #fec7d7;
    text-shadow: 0 0 15px #fec7d7;
    transition: all 0.5s ease;
    transform: scale(1.5);
    background-color: #383838;
    border-radius: 30px 30px;
}


/* toggle */
.toggle--checkbox {
    display: none;
  }